@import url('ionic/ionicons.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

html { font-size: 62.5%; height: 100%; }

.serif {}
@blue: #2980b9;
@orange: #f4922c;
@red: #e74c3c;
    
body { 
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2;
    height: 100%;
    position: relative;
    cursor: default;
    font-size: 15px;
    background: #ebebeb;
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", "helvetica Neue", Helvetica, Arial, sans-serif;
}
    
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, button {
    text-decoration: none;
    outline: 0 !important;
    cursor: pointer; }

a {
  color: @blue;
}

a:hover {
}

.transition(@string: all 0.1s ease-in-out) {
    -webkit-transition: @string;
    -moz-transition:    @string;
    -ms-transition:     @string;
    -o-transition:      @string;
    transition:         @string;
}

.transform(@string) {
-webkit-transform: @string;
-moz-transform:    @string;
-ms-transform:     @string;
-o-transform:      @string;
transform:         @string;
}
    
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

ul { list-style: none; margin: 0; padding: 0; }

.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
.ir {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.fz(@pxValue) {
    @remValue: (@pxValue/10);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem"; }
    
.box-shadow(@x: 0, @y: 0, @blur: 3px, @red: rgba(0,0,0,0.3)) {
    -webkit-box-shadow:  @arguments;
    -moz-box-shadow:     @arguments;
    -ms-box-shadow:      @arguments;
    -o-box-shadow:       @arguments;
    box-shadow:          @arguments;
}

.gradient(@red: #F5F5F5, @start: #EEE, @stop: #FFF) {  background: @red;

  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
  background: -o-linear-gradient(@stop,
                                 @start);
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@stop,@start));
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.square(@x) {
    height: @x;
    width: @x; }
    
.db() { display: block; }
.dib() { display: inline-block; }
.none { display: none; }
.absol() { position: absolute; }
.fixed() {position: fixed; }
.rel() { position: relative; }
.fl() { float: left; }
.fr() { float: right; }
.no-pad { padding: 0; }
.ptb-80 { padding: 80px 0; }
.ptb-40 { padding: 40px 0; }
.gap-top { margin-top: 30px; }
.pad-top { padding-top: 50px; }
.m-b { margin-bottom: 20px; }
.m-t { margin-top: 20px; }
    
h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  .fz(16);
  line-height: 1; }

section {
  .rel;
}

@mobile:    ~"all and (min-width: 320px) and (max-width: 640px)";
@tablet:    ~"all and (min-width: 320px) and (max-width: 959px)";
@custom:    ~"all and (min-width: 320px) and (max-width: 1024px)";
@desktop:   ~"all and (min-width: 960px) and (max-width: 1199px)";

.no-mobile {
  @media @mobile { .none;  }
}

.btn {
  padding: 9px 20px;
  background: white;
  font-weight: 500;
  color: #333;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  border: none;
  line-height: 1.4;
  .fz(14);

  i {
    display: inline-block;
    margin-right: 3px;
  }

  &:hover {
    color: @blue;
  }

  &.btn-blue {
    background: @blue;
    color: lighten(@blue, 60%);

    &:hover {
      color: white;
      background: darken(@blue, 10%);
    }
  }

  &.btn-red {
    background: @red;
    color: lighten(@red, 60%);

    &:hover {
      color: white;
      background: darken(@red, 10%);
    }
  }

  &.btn-full {
    text-align: center;
    width: 100%;
  }

  &.btn-lg {
    width: 100%;
    padding: 10px 14px;
    text-align: center;
    .fz(15);
  }

  &.btn-sm {
    font-size: 12px;
    padding: 7px 10px;
    font-weight: 600;
  }

  &.btn-white {
    color: white;
    border-color: white;
  }

  &.btn-default {
    background: none;
    border: solid 1px white;
    color: white;

    &:hover {
      background: @blue;
      border-color: @blue;
      color: white;
    }
  }
}

.btn-group {
  .btn {
    .fl;
    &:not(:first-child) {
      border-left: 0;
    }
  }
}

a.red {
  color: red;
}


//Body Styles
.header {
  height: 60px;
  line-height: 60px;
  color: white;
  background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #2D529D 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #4b6cb7 10%, #2D529D 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #4b6cb7 10%, #2D529D 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #4b6cb7 10%, #2D529D 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #4b6cb7 10%, #2D529D 90%); /* W3C */
  position: absolute;
  z-index: 1000;
  width: 100%;
}

.content {
  position: relative;
  padding-top: 60px;

  .content-body {
    padding: 50px 0;
  }
}

.logo {
  float: left;
  padding: 0 20px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}

.menu {
  position: absolute;
  top: 0;
  left: 50%;
  .transform(translateX(-50%));

  li {
    float: left;
    position: relative;

    a {
      padding: 0 20px;
      display: inline-block;
      color: white;
      font-size: 15px;
      .transition(.3s);

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    .badge {
      position: absolute;
      top: 10px;
      right: 5px;
      background: @red;
      line-height: 1.1;
      font-size: 11px;
      font-weight: bold;
      padding: 2px 5px;
      border-radius: 2px;
    }
  }
}

.signout {
  float: right;
  padding: 0 20px;
  background: none;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 13px;

  i {
    margin-right: 5px;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.05);
  }
}

.nav {
  padding: 20px 30px 0;
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);

  .content-title {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
    color: @blue;

    &.no-filters {
      margin: 5px 0 25px;
    }
  }

  .content-title-btn {
    // float: right;
    margin-left: 20px;
  }

  .filters {
    clear: both;
    font-size: 14px;

    select {
      float: left;
      width: auto;
      margin: 0;
      z-index: 2;
    }
  }
}

.customSelect { 
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  position: relative;
  margin-right: 20px;
  float: left;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 15px;
    height: 30px;
    width: 1px;
    background: rgba(0, 0, 0, .1);
  }

  &:after {
    position: absolute;
    font-family: "Ionicons";
    content: "\f104";
    right: 30px;
    top: 0;
    color: #999;
  }
}

.customSelectInner {
  margin-right: 20px;
}

.filter-check {
  display: inline-block;

  li {
    display: inline-block;
  }

  input {
    display: none;
  }

  label {
    padding: 0 20px;
    height: 60px;
    line-height: 60px;
    margin: 0;
    cursor: pointer;
    .transition(.3s);
  }

  input[type="checkbox"]:checked + label, input[type="radio"]:checked + label {
    border-bottom: solid 2px @blue;
    color: @blue;
  }
}

.search-box {
  float: right;
  position: relative;

  input {
    border: solid 1px rgba(0, 0, 0, .2);
    font-size: 13px;
    height: 35px;
    width: 200px;
    padding-left: 30px;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 10px;
    line-height: 55px;
    content: "\f4a4";
    font-family: "Ionicons";
    z-index: 2;
    color: rgba(0, 0, 0, .3)
  }
}

.main_wrap {
  min-height: 100%;
  .box-shadow(0,0,5px,rgba(0,0,0,0.05));
}

.full_height {
  height: 100%;
}

.border-right {
  border-right: solid 1px rgba(0, 0, 0, 0.05);
}

.border-left {
  border-left: solid 1px rgba(0, 0, 0, 0.05);
}

.section_header {
  .fz(13); padding-top: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}

.custom-check {

  li {
    margin-bottom: 5px;
    position: relative;
  }

  .custom-check-delete {
    position: absolute;
    right: 0;
    height: 100%;
    width: 20px;
  }

   /*Adding custom checkbox icons*/
  label {
    position: relative;
    padding-left: 25px;
    font-size: 14px;
    line-height: 1.4;
    cursor: pointer;
  }
  label:before, label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute; top: -5px; left: 0;
  }
  label:before {
    content: '\f096'; /*unchecked*/
  }
  label:after {
    content: "\f14a"; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    color: @blue;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
  }

  /*hiding the original checkboxes*/
  input[type="checkbox"], input[type="radio"] {
    display: none;
  }
  /*when the user checks the checkbox the checked icon will animate in*/
  input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after {
    max-width: 25px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
  }

  &.tag-cloud {
    width: 100%;
    float: left;

    label:before {
      display: none;
    }

    li {
      float: left;
    }

    label {
      float: left;
      padding: 5px 7px;
      border-radius: 2px;
      border: solid 1px @blue;
      color: @blue;
      font-weight: 600;
      font-size: 12px;
      margin: 0 5px 0 0;
      position: relative;
      cursor: pointer;
      opacity: .5;
    }

    label:after {
      content: "\f122";
      font-family: "Ionicons";
      top: 6px;
      left: auto;
      right: 7px;
      transition: none;
      color: lighten(@blue, 30%);
      font-size: 12px;
    }

    label.label-only:after {
      content: "\f129";
    }

    input[type="checkbox"]:checked + label, input[type="radio"]:checked + label,  label.label-only {
      padding-right: 30px;
      background: @blue;
      color: white;
      opacity: 1;
    }

    input[type="checkbox"]:checked + label:after, input[type="radio"]:checked + label:after, label.label-only:after {
      max-width: 25px; /*an arbitratry number more than the icon's width*/
      opacity: 1; /*for fade in effect*/
    }
  }
}

.overlay, .overlay-close {
  position: absolute;
  top:0;
  left: 0;
  .square(100%);
}

.overlay {
  z-index: 2;

  &.popup {
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    display: none;
  }

  .overlay-content {
    width: 500px;
    padding: 20px;
    border-radius: 2px;
    border: solid 1px whitesmoke;
    margin: 0 auto;
    margin-top: 150px;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05)
  }
}

.overlay-close {
  z-index: -1;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listing {
  width: 100%;
  height: 0; .rel;
  padding-bottom: 75%;
  border: solid 1px rgba(0,0,0,.05);
  background: white;
  overflow: hidden;
  margin-bottom: 20px;

  header {
    padding: 10px 40px 20px 20px;

    .name {
      .fz(20);
      margin-bottom: 5px;
      line-height: 1;
      font-weight: 500;
    }

    .address {
      margin: 0;
      color: #999;
      font-size: 15px;
      line-height: 20px;
    }

    .icon {
      position: absolute;
      top: 5px; .fz(30);
      right: 8px;
      color: #27ae60;

      &.pending {
        color: #f1c40f;
      }

      &.declined {
        color: #e74c3c;
      }
    }
  }

  .img-wrap {
    height: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  footer {
    .rating {
      position: absolute;
      bottom: 20px;
      left: 20px;
      .fz(14);
      .square(40px);
      border-radius: 50%;
      background: @blue;
      text-align: center;
      color: white;
      font-weight: bold;
      line-height: 40px;
    }

    .edit-buttons {
      position: absolute;
      bottom: 0;
      padding: 20px;
      background: rgba(0, 0, 0, .75);
      width: 100%;
      z-index: 20;
      .transition(.3s);
      .transform(translateY(100%));
    }
  }
  
  &:hover {
    .edit-buttons {
      .transform(translateY(0));
    }
  }

}

.upload_images {
  .img-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 75%;
    margin-top: 10px;
    overflow: hidden;
  }

  .image_list {
    li {
      border-bottom: solid 1px #ddd;
      padding: 10px 20px;
      margin-bottom: 5px;
      float: left;
      width: 100%;
    }
  }
}

.more-button {
  padding-top: 10px;
  clear: both;;
}

.trash {
  position: absolute;
  top: 0;
  right: 0; .fz(20);
  padding: 5px 10px;
  background: red;
  color: white;
  z-index: 2;
}

.list {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: inline-block;
  width: 100%;
}

.list-item {
  padding: 15px 0 15px 20px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  background: white;
  margin-bottom: 1px;

  &:last-child {
    margin-bottom: 0;
  }

  &.list-title {
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    text-transform: uppercase;

    .list-title-action {
      float: right;
      margin-right: 20px;
      font-weight: bold;
    }
  }

  input {
    border: solid 1px #DDD;
    padding: 6px 10px;
    margin: 0 5px 0 0;
    font-size: 13px;
    width: 200px;
  }

  .list-icon {
    font-size: 30px;
  }

  img {
    max-width: 48px;
    float: left;
    margin-right: 20px;
  }

  a {
    margin-right: 5px;
  }

  .edit-form {
    margin-top: 10px;
    display: none;
  }

  .icon, .icon-sm {
    float: left;
    margin-right: 10px;
  }

  .message {
    float: left;

    p { margin: 0 0 3px; }

    &.message-lg {
      .fz(18);
      line-height: 1.4;
    }
    .message-title {
      font-size: 18px;
    }

    .message-subtitle {
      font-size: 13px;
      color: #777;
    }

    .expand-review {
      .fz(13);
    }

    .extended {
      width: 100%;
      display: none;

      &.show {
        display: block;
      }
    }
  }

  .actions {
    padding-left: 50px;

    .btn {
      margin: 0 0 3px 0;
    }
  }
}

.custom-select {
  margin: 0;
  height: 32px;
  line-height: 30px;
  width: auto;
}

select.custom-select {
  z-index: 2;
}

.listSelect {
  border: solid 1px @blue;
  font-size: 13px;
  color: @blue;
  padding: 0 10px;
  border-radius: 3px;
  position: relative;
  text-align: left;

  &:after {
    position: absolute;
    font-family: "Ionicons";
    content: "\f104";
    right: 10px;
    top: 0;
    color: @blue;
  }
}

.white_pad {
  background: white;
  border-radius: 3px;
  padding: 10px 20px 20px;
}

.hidden {
  display: none;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree {
  .fz(20);

  ul {

    li {
      margin-bottom: 5px;
      position: relative;

      ul {
        .fz(16);
        margin-left: 10px;
        padding: 10px;
        border-left: solid 1px #333;

          li {

            line-height: 1.4;

          a {
            .fz(13);
            font-weight: bold;
          }

          .actions {
            .transition(.3s);
            margin-left: 5px;
            opacity: 0;

            a {
              margin-right: 5px;
              &.delete {
                position: absolute;
                right: 100%;
                top: 0;
                font-weight: normal;
                padding-right: 15px;
                .fz(18)
              }
            }
          }

          .edit{
            position: absolute;
            display: none;
            z-index: 5;
            top: -5px;
            left: 0;

            input {
              margin: 0;
            }
          }

          &:hover {
            .actions {
              opacity: 1;
            }
          }

        }
      }
    }

  }

  >ul {    
    >li {
      margin-bottom: 20px;
    }
  }
}

.render {
  .section_header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ccc;
  }
  h3, p {
    margin-top: 5px;
    font-weight: bold;
  }
}

.tab-menu {
  li {
    a {
      display: block;
      color: #333;
      background: white;
      padding: 10px 20px;
      margin-bottom: 1px;
      font-weight: bold;

      i {
        float: right;
      }

      &.active {
        color: @blue;
        border-left: solid 2px @blue;
      }
    }
  }
}

h1.section_title {
  .fz(30);
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.cp {
  cursor: pointer;
}
.white-wrap {
  background: white;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;

  h3 {
    font-weight: bold;
    .fz(18);
    margin: 0 0 10px 0;
  }

  .description {
    margin: 0 0 5px 0;
  }

  .image {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #999;
    clear: both;
    overflow: hidden;
    position: relative;
    margin: 0 10px 10px 0;

    &.wide {
      width: 95%;
      padding-bottom: 80%;
    }

    .btn {
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      margin: auto;
      display: inline-block;
      width: 170px;
      z-index: 2;
    }
  }

  input[type='text'], select, textarea {
    background: whitesmoke;
    margin: 0 0 10px 0;
  }
}

//agination
.pagination {
  display: inline-block;
  padding-left: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
}
.pagination > li,  .pagination > span{
  display: inline;
}
.pagination > li > a, 
.pagination > li > span, .pagination > span > a, .pagination > span > span, .pagination > .current, .pagination > .gap {
  position: relative;
  float: left;
  padding: 5px 10px;
  line-height: 22px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid whitesmoke;
  margin-left: -1px;
  color: #428bca;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span, .pagination > span:first-child > a, .pagination > span:first-child > span, .pagination > .current:first-child  {
  margin-left: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span, .pagination > span:last-child > a, .pagination > span:last-child > span, {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination > li > a:hover, .pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #eee;
}
// .pagination > .current > a, .pagination > .current > a:hover, .pagination > .current > a:focus,
// .pagination > .current > span,
// .pagination > .current > span:hover,
// .pagination > .current > span:focus {
//   z-index: 2;
//   color: #f0f;
//   background-color: #ccc;
//   border-color: #ccc;
//   cursor: default;
// }
.pagination > .current, .pagination > .current:hover, .pagination > .current:focus{
  z-index: 2;
  color: white;
  background-color: @blue;
  border-color: @blue;
  cursor: default;
}

.pagination--right {
  float: right;
}

.no-content {
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
}

.panel {
  background: white;
  float: left;
  width: 100%;
  .box-shadow(0,1px,1px,rgba(0,0,0,.3));
  margin-bottom: 20px;

  .panel-header {
    background: @blue;
    color: white;
    padding: 15px 20px;
  }

  .panel-body {
    padding: 20px;
    float: left;
    width: 100%;

    input, textarea, select {
      border: solid 1px #ddd;
      font-size: 13px;
    }

    label {
      font-size: 13px;
    }

    .description-label {
      color: #999;
    }

    .description-text {
      margin: 0 0 10px 0;
      padding: 5px 0;
    }
  }
}

.listing-image {
  border: solid 1px #DDD;
  position: relative;

  .img-wrap {
    position: relative;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
  }

  .listing-label {
    font-size: 12px;
    font-weight: 600;
    padding: 10px;
    background: #f2f2f2;
    cursor: pointer;
  }

  &.deleted {
    opacity: .2;

    .listing-label {
      pointer-events: none;
    }
  }

  .delete-image {
    color: @red;
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 20px;

    .btn {
      margin-right: 0;
    }

    i {
      margin: 0;
    }
  }

  .delete-image-checkbox {
    display: none;
  }
}
