@import url('ionic/ionicons.css');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  height: 100%;
  position: relative;
  cursor: default;
  font-size: 15px;
  background: #ebebeb;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", "helvetica Neue", Helvetica, Arial, sans-serif;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
}
a {
  color: #2980b9;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clearfix:after {
  clear: both;
}
/* IE6/7 support */
.clearfix {
  *zoom: 1;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.none {
  display: none;
}
.no-pad {
  padding: 0;
}
.ptb-80 {
  padding: 80px 0;
}
.ptb-40 {
  padding: 40px 0;
}
.gap-top {
  margin-top: 30px;
}
.pad-top {
  padding-top: 50px;
}
.m-b {
  margin-bottom: 20px;
}
.m-t {
  margin-top: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
}
section {
  position: relative;
}
@media all and (min-width: 320px) and (max-width: 640px) {
  .no-mobile {
    display: none;
  }
}
.btn {
  padding: 9px 20px;
  background: white;
  font-weight: 500;
  color: #333;
  border-radius: 2px;
  display: inline-block;
  margin-right: 10px;
  outline: none;
  border: none;
  line-height: 1.4;
  font-size: 14px;
  font-size: 1.4rem;
}
.btn i {
  display: inline-block;
  margin-right: 3px;
}
.btn:hover {
  color: #2980b9;
}
.btn.btn-blue {
  background: #2980b9;
  color: #ffffff;
}
.btn.btn-blue:hover {
  color: white;
  background: #20638f;
}
.btn.btn-red {
  background: #e74c3c;
  color: #ffffff;
}
.btn.btn-red:hover {
  color: white;
  background: #d62c1a;
}
.btn.btn-full {
  text-align: center;
  width: 100%;
}
.btn.btn-lg {
  width: 100%;
  padding: 10px 14px;
  text-align: center;
  font-size: 15px;
  font-size: 1.5rem;
}
.btn.btn-sm {
  font-size: 12px;
  padding: 7px 10px;
  font-weight: 600;
}
.btn.btn-white {
  color: white;
  border-color: white;
}
.btn.btn-default {
  background: none;
  border: solid 1px white;
  color: white;
}
.btn.btn-default:hover {
  background: #2980b9;
  border-color: #2980b9;
  color: white;
}
.btn-group .btn {
  float: left;
}
.btn-group .btn:not(:first-child) {
  border-left: 0;
}
a.red {
  color: red;
}
.header {
  height: 60px;
  line-height: 60px;
  color: white;
  background: -webkit-linear-gradient(90deg, #4b6cb7 10%, #2d529d 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #4b6cb7 10%, #2d529d 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(90deg, #4b6cb7 10%, #2d529d 90%);
  /* IE10 */
  background: -o-linear-gradient(90deg, #4b6cb7 10%, #2d529d 90%);
  /* Opera 11.10+ */
  background: linear-gradient(90deg, #4b6cb7 10%, #2d529d 90%);
  /* W3C */
  position: absolute;
  z-index: 1000;
  width: 100%;
}
.content {
  position: relative;
  padding-top: 60px;
}
.content .content-body {
  padding: 50px 0;
}
.logo {
  float: left;
  padding: 0 20px;
  border-right: solid 1px rgba(255, 255, 255, 0.2);
}
.menu {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.menu li {
  float: left;
  position: relative;
}
.menu li a {
  padding: 0 20px;
  display: inline-block;
  color: white;
  font-size: 15px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.menu li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
.menu li .badge {
  position: absolute;
  top: 10px;
  right: 5px;
  background: #e74c3c;
  line-height: 1.1;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 2px;
}
.signout {
  float: right;
  padding: 0 20px;
  background: none;
  border-left: solid 1px rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 13px;
}
.signout i {
  margin-right: 5px;
}
.signout:hover {
  background: rgba(255, 255, 255, 0.05);
}
.nav {
  padding: 20px 30px 0;
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.13);
}
.nav .content-title {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
  color: #2980b9;
}
.nav .content-title.no-filters {
  margin: 5px 0 25px;
}
.nav .content-title-btn {
  margin-left: 20px;
}
.nav .filters {
  clear: both;
  font-size: 14px;
}
.nav .filters select {
  float: left;
  width: auto;
  margin: 0;
  z-index: 2;
}
.customSelect {
  height: 60px;
  line-height: 60px;
  font-weight: bold;
  position: relative;
  margin-right: 20px;
  float: left;
}
.customSelect:before {
  content: '';
  position: absolute;
  right: 0;
  top: 15px;
  height: 30px;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
}
.customSelect:after {
  position: absolute;
  font-family: "Ionicons";
  content: "\f104";
  right: 30px;
  top: 0;
  color: #999;
}
.customSelectInner {
  margin-right: 20px;
}
.filter-check {
  display: inline-block;
}
.filter-check li {
  display: inline-block;
}
.filter-check input {
  display: none;
}
.filter-check label {
  padding: 0 20px;
  height: 60px;
  line-height: 60px;
  margin: 0;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.filter-check input[type="checkbox"]:checked + label,
.filter-check input[type="radio"]:checked + label {
  border-bottom: solid 2px #2980b9;
  color: #2980b9;
}
.search-box {
  float: right;
  position: relative;
}
.search-box input {
  border: solid 1px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  height: 35px;
  width: 200px;
  padding-left: 30px;
}
.search-box:after {
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 55px;
  content: "\f4a4";
  font-family: "Ionicons";
  z-index: 2;
  color: rgba(0, 0, 0, 0.3);
}
.main_wrap {
  min-height: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}
.full_height {
  height: 100%;
}
.border-right {
  border-right: solid 1px rgba(0, 0, 0, 0.05);
}
.border-left {
  border-left: solid 1px rgba(0, 0, 0, 0.05);
}
.section_header {
  font-size: 13px;
  font-size: 1.3rem;
  padding-top: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
}
.custom-check {
  /*Adding custom checkbox icons*/
  /*hiding the original checkboxes*/
  /*when the user checks the checkbox the checked icon will animate in*/
}
.custom-check li {
  margin-bottom: 5px;
  position: relative;
}
.custom-check .custom-check-delete {
  position: absolute;
  right: 0;
  height: 100%;
  width: 20px;
}
.custom-check label {
  position: relative;
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
}
.custom-check label:before,
.custom-check label:after {
  font-family: FontAwesome;
  font-size: 21px;
  /*absolutely positioned*/
  position: absolute;
  top: -5px;
  left: 0;
}
.custom-check label:before {
  content: '\f096';
  /*unchecked*/
}
.custom-check label:after {
  content: "\f14a";
  /*checked*/
  /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
  max-width: 0;
  overflow: hidden;
  opacity: 0.5;
  color: #2980b9;
  /*CSS3 transitions for animated effect*/
  transition: all 0.35s;
}
.custom-check input[type="checkbox"],
.custom-check input[type="radio"] {
  display: none;
}
.custom-check input[type="checkbox"]:checked + label:after,
.custom-check input[type="radio"]:checked + label:after {
  max-width: 25px;
  /*an arbitratry number more than the icon's width*/
  opacity: 1;
  /*for fade in effect*/
}
.custom-check.tag-cloud {
  width: 100%;
  float: left;
}
.custom-check.tag-cloud label:before {
  display: none;
}
.custom-check.tag-cloud li {
  float: left;
}
.custom-check.tag-cloud label {
  float: left;
  padding: 5px 7px;
  border-radius: 2px;
  border: solid 1px #2980b9;
  color: #2980b9;
  font-weight: 600;
  font-size: 12px;
  margin: 0 5px 0 0;
  position: relative;
  cursor: pointer;
  opacity: .5;
}
.custom-check.tag-cloud label:after {
  content: "\f122";
  font-family: "Ionicons";
  top: 6px;
  left: auto;
  right: 7px;
  transition: none;
  color: #94c6e7;
  font-size: 12px;
}
.custom-check.tag-cloud label.label-only:after {
  content: "\f129";
}
.custom-check.tag-cloud input[type="checkbox"]:checked + label,
.custom-check.tag-cloud input[type="radio"]:checked + label,
.custom-check.tag-cloud label.label-only {
  padding-right: 30px;
  background: #2980b9;
  color: white;
  opacity: 1;
}
.custom-check.tag-cloud input[type="checkbox"]:checked + label:after,
.custom-check.tag-cloud input[type="radio"]:checked + label:after,
.custom-check.tag-cloud label.label-only:after {
  max-width: 25px;
  /*an arbitratry number more than the icon's width*/
  opacity: 1;
  /*for fade in effect*/
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listing {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 75%;
  border: solid 1px rgba(0, 0, 0, 0.05);
  background: white;
  overflow: hidden;
  margin-bottom: 20px;
}
.listing header {
  padding: 10px 40px 20px 20px;
}
.listing header .name {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 5px;
  line-height: 1;
  font-weight: 500;
}
.listing header .address {
  margin: 0;
  color: #999;
  font-size: 15px;
  line-height: 20px;
}
.listing header .icon {
  position: absolute;
  top: 5px;
  font-size: 30px;
  font-size: 3rem;
  right: 8px;
  color: #27ae60;
}
.listing header .icon.pending {
  color: #f1c40f;
}
.listing header .icon.declined {
  color: #e74c3c;
}
.listing .img-wrap {
  height: 50%;
  overflow: hidden;
}
.listing .img-wrap img {
  width: 100%;
}
.listing footer .rating {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  font-size: 1.4rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #2980b9;
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 40px;
}
.listing footer .edit-buttons {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  z-index: 20;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.listing:hover .edit-buttons {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.upload_images .img-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 75%;
  margin-top: 10px;
  overflow: hidden;
}
.upload_images .image_list li {
  border-bottom: solid 1px #ddd;
  padding: 10px 20px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.more-button {
  padding-top: 10px;
  clear: both;
}
.trash {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-size: 2rem;
  padding: 5px 10px;
  background: red;
  color: white;
  z-index: 2;
}
.list {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  display: inline-block;
  width: 100%;
}
.list-item {
  padding: 15px 0 15px 20px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  background: white;
  margin-bottom: 1px;
}
.list-item:last-child {
  margin-bottom: 0;
}
.list-item.list-title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-transform: uppercase;
}
.list-item.list-title .list-title-action {
  float: right;
  margin-right: 20px;
  font-weight: bold;
}
.list-item input {
  border: solid 1px #DDD;
  padding: 6px 10px;
  margin: 0 5px 0 0;
  font-size: 13px;
  width: 200px;
}
.list-item .list-icon {
  font-size: 30px;
}
.list-item img {
  max-width: 48px;
  float: left;
  margin-right: 20px;
}
.list-item a {
  margin-right: 5px;
}
.list-item .edit-form {
  margin-top: 10px;
  display: none;
}
.list-item .icon,
.list-item .icon-sm {
  float: left;
  margin-right: 10px;
}
.list-item .message {
  float: left;
}
.list-item .message p {
  margin: 0 0 3px;
}
.list-item .message.message-lg {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.4;
}
.list-item .message .message-title {
  font-size: 18px;
}
.list-item .message .message-subtitle {
  font-size: 13px;
  color: #777;
}
.list-item .message .expand-review {
  font-size: 13px;
  font-size: 1.3rem;
}
.list-item .message .extended {
  width: 100%;
  display: none;
}
.list-item .message .extended.show {
  display: block;
}
.list-item .actions {
  padding-left: 50px;
}
.list-item .actions .btn {
  margin: 0 0 3px 0;
}
.custom-select {
  margin: 0;
  height: 32px;
  line-height: 30px;
  width: auto;
}
select.custom-select {
  z-index: 2;
}
.listSelect {
  border: solid 1px #2980b9;
  font-size: 13px;
  color: #2980b9;
  padding: 0 10px;
  border-radius: 3px;
  position: relative;
  text-align: left;
}
.listSelect:after {
  position: absolute;
  font-family: "Ionicons";
  content: "\f104";
  right: 10px;
  top: 0;
  color: #2980b9;
}
.white_pad {
  background: white;
  border-radius: 3px;
  padding: 10px 20px 20px;
}
.hidden {
  display: none;
}
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tree {
  font-size: 20px;
  font-size: 2rem;
}
.tree ul li {
  margin-bottom: 5px;
  position: relative;
}
.tree ul li ul {
  font-size: 16px;
  font-size: 1.6rem;
  margin-left: 10px;
  padding: 10px;
  border-left: solid 1px #333;
}
.tree ul li ul li {
  line-height: 1.4;
}
.tree ul li ul li a {
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
}
.tree ul li ul li .actions {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 5px;
  opacity: 0;
}
.tree ul li ul li .actions a {
  margin-right: 5px;
}
.tree ul li ul li .actions a.delete {
  position: absolute;
  right: 100%;
  top: 0;
  font-weight: normal;
  padding-right: 15px;
  font-size: 18px;
  font-size: 1.8rem;
}
.tree ul li ul li .edit {
  position: absolute;
  display: none;
  z-index: 5;
  top: -5px;
  left: 0;
}
.tree ul li ul li .edit input {
  margin: 0;
}
.tree ul li ul li:hover .actions {
  opacity: 1;
}
.tree > ul > li {
  margin-bottom: 20px;
}
.render .section_header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
.render h3,
.render p {
  margin-top: 5px;
  font-weight: bold;
}
.tab-menu li a {
  display: block;
  color: #333;
  background: white;
  padding: 10px 20px;
  margin-bottom: 1px;
  font-weight: bold;
}
.tab-menu li a i {
  float: right;
}
.tab-menu li a.active {
  color: #2980b9;
  border-left: solid 2px #2980b9;
}
h1.section_title {
  font-size: 30px;
  font-size: 3rem;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.cp {
  cursor: pointer;
}
.white-wrap {
  background: white;
  border-radius: 2px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  float: left;
}
.white-wrap h3 {
  font-weight: bold;
  font-size: 18px;
  font-size: 1.8rem;
  margin: 0 0 10px 0;
}
.white-wrap .description {
  margin: 0 0 5px 0;
}
.white-wrap .image {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #999;
  clear: both;
  overflow: hidden;
  position: relative;
  margin: 0 10px 10px 0;
}
.white-wrap .image.wide {
  width: 95%;
  padding-bottom: 80%;
}
.white-wrap .image .btn {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: 170px;
  z-index: 2;
}
.white-wrap input[type='text'],
.white-wrap select,
.white-wrap textarea {
  background: whitesmoke;
  margin: 0 0 10px 0;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.13);
}
.pagination > li,
.pagination > span {
  display: inline;
}
.pagination > li > a,
.pagination > li > span,
.pagination > span > a,
.pagination > span > span,
.pagination > .current,
.pagination > .gap {
  position: relative;
  float: left;
  padding: 5px 10px;
  line-height: 22px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid whitesmoke;
  margin-left: -1px;
  color: #428bca;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > span:first-child > a,
.pagination > span:first-child > span,
.pagination > .current:first-child {
  margin-left: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span,
.pagination > span:last-child > a,
.pagination > span:last-child > span {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  background-color: #eee;
}
.pagination > .current,
.pagination > .current:hover,
.pagination > .current:focus {
  z-index: 2;
  color: white;
  background-color: #2980b9;
  border-color: #2980b9;
  cursor: default;
}
.pagination--right {
  float: right;
}
.no-content {
  padding: 50px 0;
  text-align: center;
  font-size: 24px;
}
.panel {
  background: white;
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.panel .panel-header {
  background: #2980b9;
  color: white;
  padding: 15px 20px;
}
.panel .panel-body {
  padding: 20px;
  float: left;
  width: 100%;
}
.panel .panel-body input,
.panel .panel-body textarea,
.panel .panel-body select {
  border: solid 1px #ddd;
  font-size: 13px;
}
.panel .panel-body label {
  font-size: 13px;
}
.panel .panel-body .description-label {
  color: #999;
}
.panel .panel-body .description-text {
  margin: 0 0 10px 0;
  padding: 5px 0;
}
.listing-image {
  border: solid 1px #DDD;
  position: relative;
}
.listing-image .img-wrap {
  position: relative;
  height: 0;
  padding-bottom: 60%;
  overflow: hidden;
}
.listing-image .listing-label {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  background: #f2f2f2;
  cursor: pointer;
}
.listing-image.deleted {
  opacity: .2;
}
.listing-image.deleted .listing-label {
  pointer-events: none;
}
.listing-image .delete-image {
  color: #e74c3c;
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 20px;
}
.listing-image .delete-image .btn {
  margin-right: 0;
}
.listing-image .delete-image i {
  margin: 0;
}
.listing-image .delete-image-checkbox {
  display: none;
}
